<p id="notice"><%= notice %></p>

<h1>Listing Participations</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Result</th>
      <th>Bet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= participation.player.name %></td>
        <td><%= participation.result.title %></td>
        <td><%= participation.bet.title %></td>
        <td><%= link_to 'Show', player_participation_path(@player, participation) %></td>
        <td><%= link_to 'Edit', edit_player_participation_path(@player, participation) %></td>
        <td><%= link_to 'Destroy', player_participation_path(@player, participation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participation', new_player_participation_path(@player) %>
