<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @participation.player %>
</p>

<p>
  <strong>Result:</strong>
  <%= @participation.result %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @participation.bet %>
</p>

<%= link_to 'Edit', edit_player_participation_path(@player, @participation) %> |
<%= link_to 'Back', player_participations_path(@player) %>
