<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bet.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bet.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bet.status %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
